{% extends "base.html" %}
{% block title %}Delete Baby Profile{% endblock %}

{% block content %}
    <h1 class="bb-title mb-0 text-center py-2">
    <span class="top">Delete Baby Profile</span>
    </h1>

<div class="content-center">
    <div class="row justify-content-center">
        <div class="col-14 col-sm-12 col-md-10 col-lg-8">
             <div class="p-4 border rounded bg-white shadow-sm">
                <p> Are you sure you want to delete profile for {{ baby.name }}?</p>

                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger w-100 mb-2">Delete</button>
                </form>

                <a href="{% url 'baby-list' %}" class="btn btn-secondary w-100">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}