{% extends 'base.html' %}

{% block title %}Baby Profiles{% endblock %}

{% block content %}
    <h1 class="bb-title mb-0 text-center py-2">
    <span class="top">BABY PROFILE</span>
    </h1>
    <div class="row justify-content-center mt-4">
        <div class="col-12 col-sm-8 col-md-6 col-lg-4">
            <ul>
                    <li>
                            <a href="/babies/new">Create a Baby Profile</a>
                    </li>
                {% for baby in babies %}
                    <li>
                        {{ baby.name }}{% if baby.date_of_birth %} - {{ baby.date_of_birth|date:"m/d/Y" }}{% endif %}
                        <a href="{% url 'baby-edit' baby.id %}" class="btn btn-primary btn-sm">Edit</a>
                        <a href="{% url 'baby-delete' baby.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </li>
                        {% empty %}

                        {% endfor %}
                        <li>
                    </li>
            </ul>
        </div>
    </div>

{% endblock %}
