{% extends "base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}
{% block navbar %}{% endblock %}

{% block content %}
<div class="vw-edge px-3 px-md-4">
        <div class="container-fluid px-3 px-md-4 py-4">
            <div class="d-flex align-items-center justify-content-between">
                <div class="bb-logo"></div>

                <h1 class="m-0 text-center flex-grow-1 bb-title">
                    <span class="top">CONTACT US</span>
                </h1>

                <div class="d-none d-sm-block" style="width:100px;height:100px;"></div>
            </div>
        </div>

    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6">
            <div class="p-4 border rounded bg-white shadow-sm">
                <p class="mb-3">
                    Have a question, found a bug, or want to suggest a feature?
                    Reach out and we’ll get back to you as soon as we can.
                </p>

                <p class="mb-3">
                    The best way to reach us is through
                    <a href="https://github.com/dledw001/BabyBites">GitHub.</a>
                </p>

            </div>
        </div>
    </div>

    <div class="text-center mt-5 pb-4" style="font-size:0.9rem; color:#666;">
        <a href="{% url 'home' %}" class="me-3 text-decoration-none">Go back</a>
    </div>
{% endblock %}