{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<style>

</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="p-4 border rounded bg-white shadow-sm text-center">
                <h1 class="mb-4">BabyBites <br/>DASHBOARD</h1>
                <p class="text-muted mb-4">
                </p>

                <div class="row g-4">
                    <div class="col-12 col-md-6">
                        <a href="/babies/" class="title peach">BABY</br>PROFILE</a>
                    </div>
                    <div class="col-12 col-md-6">
                        <a href="/tracker/" class="title lavender">FOOD TRACKER</a>
                    </div>
                    <a href="" class="">Food Database</a>
                    <a href="" class="">Daily Reports</a>
                    <a href="/resources/" class="btn btn-info w-100">Resources</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
