{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container my-4 position-relative">
        <!-- pinned logo -->
        <div class="bb-logo position-absolute" style="left:24px; top:8px;"></div>

        <h1 class="bb-title mb-0 text-center py-2">
            <span class="top">BabyBites</span>
            <span class="bottom">DASHBOARD</span>
        </h1>

        <div class="row g-4">
            <div class="col-12 col-md-6">
                <a href="/babies/" class="tile peach">BABY<br>PROFILE</a>
            </div>
            <div class="col-12 col-md-6">
                <a href="/tracker/" class="tile lav">FOOD<br>TRACKER</a>
            </div>
            <div class="col-12 col-md-6">
                <a href="{% url 'food_list' %}" class="tile green">FOOD<br>DATABASE</a>

            </div>
            <div class="col-12 col-md-6">
                <a href="#" class="tile blue"
                   onclick="document.getElementById('daily-report-form').submit(); return false;">DAILY<br>REPORTS</a>
                <form id="daily-report-form" method="post" action="{% url 'generate_report_view' %}"
                      style="display: none;">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-12">
                <a href="/resources/" class="tile resources">RESOURCES</a>
            </div>
        </div>
    </div>


{% endblock %}