{% extends "base.html" %}

{% block title %}Resources{% endblock %}

{% block content %}
    <h1 class="bb-title mb-0 text-center py-2">
    <span class="top">RESOURCES</span>
    </h1>
<div class="content-center pt-5">
    <ul class="list-group mt-3">
        <li class="list-group-item text-center mb-2">
            <h4>Johns Hopkins Medicine</h4>
            <a href="https://www.hopkinsmedicine.org/health/wellness-and-prevention/dos-and-donts-of-transitioning-baby-to-solid-foods"
               target="_blank">(Tips) Transitioning to Solid Foods</a><br>
            <a href="https://www.hopkinsmedicine.org/health/conditions-and-diseases/food-allergies-in-children"
               target="_blank">(Tips) Food Allergies in Children and Babies</a><br>
        </li>

        <li class="list-group-item text-center mb-2">
            <h4>American Academy of Pediatrics</h4>
            <a href="https://www.healthychildren.org/English/ages-stages/baby/feeding-nutrition/Pages/Sample-One-Day-Menu-for-an-8-to-12-Month-Old.aspx"
               target="_blank">(Sample Menu) 8 to 12 Months</a><br>
            <a href="https://www.healthychildren.org/English/ages-stages/baby/feeding-nutrition/Pages/Sample-One-Day-Menu-for-a-One-Year-Old.aspx"
               target="_blank">(Sample Menu) 1-Year</a><br>
        </li>

        <li class="list-group-item text-center mb-2">
            <h4>Healthy Eating Research</h4>
            <a href="https://healthyeatingresearch.org/tips-for-families/ages-0-2-feeding-recommendations/"
               target="_blank">(Tips) Feeding Recommendations</a><br>
            <a href="https://healthyeatingresearch.org/tips-for-families/0-5-beverage-recommendations/" target="_blank">(Tips)
                Beverage Recommendations </a><br>
        </li>
    </ul>
</div>

{% endblock %}